body {
    background-color: slateblue;
}

.quiz {
    background-color: rgb(106, 158, 255);
    box-shadow: 10px 10px chartreuse, 20px 20px rgb(237, 250, 57), 30px 30px rgb(240, 140, 10), 40px 40px rgb(187, 13, 13);
    border-radius: 1rem;
}

.score {
    color: midnightblue;
    padding: 10px;
}

.question-section {
    color: rgb(14, 5, 75);
    gap: 25px;
}

.question-count {
    color: aliceblue;
    padding: 10px;
    margin-top: 1.5rem;
}

.quest-text {
    color: rgb(14, 5, 75);
    padding: 1rem;
}

.answers-sect {
    background-color: rgb(80, 112, 255);
    margin: 1.5rem;
    display: flex;
    justify-content:space-around;
    border-radius: 50% 60% 40% 20%;
}

.answer-button {
    background-color: rgb(212, 32, 203);
    color: antiquewhite;
    border-radius: 80% 20% 84% 25% / 80% 16% 84% 20%;
    padding: 1rem;
    margin: 0.6rem;
    gap: 5px;
    box-shadow: 3px 3px 0px rgb(127, 32, 175);
}
.answer-button:hover {
    background-color: rgb(64, 4, 177);
}

.restart-sect {
    background-color: aqua;
    margin: 1rem;
}

.restart_btn {
    background-color: rgb(47, 44, 219);
    color: cornsilk;
    margin: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px 70%;
    padding: 15px;
    box-shadow: 3px 3px 5px rgb(104, 48, 233), -1px -1px 2px rgb(83, 85, 177), inset -3px -2px 10px darkblue,  inset 1px 1px 5px lightblue;
}